* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
input {
    outline: 0;
}
:root{
    --main-color: #e86f0d;
    --text-color: #202020;
    --background-color: rgba(0, 0, 0, 0.72);
}

header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('banner2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center ;
    height: 800px;
}
.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}
.navbar {
    width: 100%;
    height: 80px;
    background-color: #f8f7f6;
    z-index: 1;
    box-shadow: 0 0 10px var(--background-color);
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    align-items: center;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.navbar ul li a {
    color: var(--text-color);
    font-size: 1.3rem;
    transition: all 0.3s;
} 
.navbar ul li a:hover, .active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    padding: 3px 0;
}
.logo img {
   width: 130px;
}
.search-input {
    width: 300px;
    display: flex;
    align-items: center;
    position: relative;
} 
.search-input i {
    color: #4f4f4f;
    font-size: 1.4rem;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.search-input input[type='search']{
    border: 1px solid #cfcfcf;
    padding: 10px 15px;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 4px;
    color: var(--text-color);
}
.intruduce {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    gap: 3rem;
    margin-top: 8rem;
}
.intruduce h1 {
    color: var(--main-color);
    font-size: 4rem;
    font-family: 'Noto';
    -webkit-text-stroke: 1px #f7cf9c;
}
.intruduce h3 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Noto';
}
.cursor{
    position: relative;
    width: 24rem;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    Cursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 36%; }
}
@keyframes Cursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    width: 100%;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 77%;
    margin-top: 10rem;
}
.title-section {
    font-size: 2.5rem;
    color: var(--main-color);
    letter-spacing: 2px;
}
.intro p {
    font-size: 1.3rem;
    color: var(--text-color);
    text-align: center;
    line-height: 1.5;
}

.featured-cities {
    width: 77%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}
.featured-cities .featured-cities-carts {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}
.featured-cities .featured-cities-carts > div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    cursor: pointer;
}
.featured-cities .featured-cities-carts > div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.featured-cities .featured-cities-carts > div img{
   width: 100%;
}

.featured-cities .featured-cities-carts > div span{
    font-size: 2rem;
    color: var(--main-color);
}
.featured-cities .featured-cities-carts > div p{
    font-size: 1.3rem;
    color: var(--text-color);
    text-align: center;
}

.city-gallery {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.city-gallery-carts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.5rem;
}
.city-gallery-carts > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid #ececec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.city-gallery-carts > div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.city-gallery-carts > div img {
    width: 100%;
}
.city-gallery-carts > div h3 {
    font-size: 1.5rem;
    color: var(--main-color);
}

.city-gallery-carts > div p {
    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
    line-height: 1.3;
}

.city-of-the-day {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    height: 500px;
}

.city-of-the-day .city-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.city-of-the-day .city-container > div {
    width: 100%;
    height: 100%;
}

.city-of-the-day .city-container .img-city img {
    filter: opacity(85%);
    transition: all 0.3s;
    height: 100%;
}
.city-of-the-day .city-container .img-city img:hover {
    filter: opacity(100%);
}

.city-of-the-day .city-container .text-city {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #f5f5f5;
    padding: 3rem;
}

.city-of-the-day .city-container .text-city h3 {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.city-of-the-day .city-container .text-city ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: square;
}

.city-of-the-day .city-container .text-city ul li{
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s;
}
.city-of-the-day .city-container .text-city ul li:hover{
    color: var(--main-color);
}

.submit-city {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-top: 50px;
    margin-bottom: 100px;
}

.submit-city form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: 1px solid #fcfcfc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.submit-city form .inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.submit-city form .inputs input, .submit-city form .inputs textarea {
    outline: 0;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    transition: all 0.3s;
}

.submit-city form .inputs input:focus, .submit-city form .inputs textarea:focus {
    border: 1px solid #858585;
}

.inputs button {
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 4px;
    transition: all 0.3s;
}
.inputs button:hover {
    background-color: var(--text-color);
}




.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f7f6; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  animation: fadeOut 1s ease 2s forwards; 
}

.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #f3be3a; 
  border-top: 8px solid var(--main-color); 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}